In [105]:
import mysql.connector
from tabulate import tabulate

connection = mysql.connector.connect(host='127.0.0.1',
                                         database='test_db',
                                         user='root',
                                         password='user@1234')

mycursor=connection.cursor()
mycursor.execute("SELECT * FROM sales_table")
myresult = mycursor.fetchall()


print(tabulate(myresult, headers=['visitorID', 'visit number','marketing channel', 'revenue'], tablefmt='psql'))

+----+-------------+----------------+---------------------+-----------+
|    |   visitorID |   visit number | marketing channel   |   revenue |
|----+-------------+----------------+---------------------+-----------|
|  0 |    14590274 |              1 | direct              |           |
|  1 |    15692456 |              1 | paid search         |    1204.5 |
|  2 |    13650284 |              3 | paid search         |    1399   |
|  3 |    13892640 |              1 | seo                 |           |
|  4 |    14590274 |              2 | display             |           |
|  5 |    14590274 |              3 | email               |    1593.9 |
|  6 |    13892640 |              2 | affiliates          |    2010   |
+----+-------------+----------------+---------------------+-----------+

In [106]:
connection = mysql.connector.connect(host='127.0.0.1',
                                         database='test_db',
                                         user='root',
                                         password='user@1234')

mycursor=connection.cursor()
mycursor.execute("SELECT * FROM sales_table ORDER BY visitor_id ASC")
myresult = mycursor.fetchall()


print(tabulate(myresult, headers=['visitorID', 'visit number','marketing channel', 'revenue'], tablefmt='psql'))

+----+-------------+----------------+---------------------+-----------+
|    |   visitorID |   visit number | marketing channel   |   revenue |
|----+-------------+----------------+---------------------+-----------|
|  2 |    13650284 |              3 | paid search         |    1399   |
|  3 |    13892640 |              1 | seo                 |           |
|  6 |    13892640 |              2 | affiliates          |    2010   |
|  0 |    14590274 |              1 | direct              |           |
|  4 |    14590274 |              2 | display             |           |
|  5 |    14590274 |              3 | email               |    1593.9 |
|  1 |    15692456 |              1 | paid search         |    1204.5 |
+----+-------------+----------------+---------------------+-----------+

In [107]:
connection = mysql.connector.connect(host='127.0.0.1',
                                         database='test_db',
                                         user='root',
                                         password='user@1234')

mycursor=connection.cursor()
mycursor.execute("SELECT * FROM sales_table2")
myresult = mycursor.fetchall()


print(tabulate(myresult, headers=['visitorID', 'transactionID','product sku','quantity', 'revenue'], tablefmt='psql'))

+----+-------------+-----------------+-----------------------+------------+-----------+
|    |   visitorID |   transactionID | product sku           |   quantity |   revenue |
|----+-------------+-----------------+-----------------------+------------+-----------|
|  0 |    15692456 |        14467578 | OEX-6908TS.WTA-PUM-PG |          1 |    1204.5 |
|  1 |    13650284 |        34547632 | HD-LD53-TJ            |          2 |    1399   |
|  2 |    14590274 |        35476845 | 4H-IPQS-032           |          2 |    1593.9 |
|  3 |    13892640 |        23587651 | 4H-VATJ-769           |          1 |    2010   |
+----+-------------+-----------------+-----------------------+------------+-----------+

In [108]:
mycursor=connection.cursor()
mycursor.execute("SELECT * FROM product_table")
myresult = mycursor.fetchall()


print(tabulate(myresult, headers=['product sku', 'brand','department'], tablefmt='psql'))

+----+-----------------------+-----------------------+-----------------+
|    | product sku           | brand                 | department      |
|----+-----------------------+-----------------------+-----------------|
|  0 | OEX-6908TS.WTA-PUM-PG | Essentials for Living | Furniture       |
|  1 | HD-LD53-TJ            | Halo Styles           | Outdoor         |
|  2 | 4H-IPQS-032           | Four Hands            | Mirrors and Art |
|  3 | 4H-VATJ-769           | Four Hands            | Furniture       |
|  4 | HD-LD73-EJ            | Halo Styles           | Rugs            |
+----+-----------------------+-----------------------+-----------------+

In [109]:
mycursor=connection.cursor()
mycursor.execute("SELECT p.product_sku AS PRODUCT_SKU,SUM(s2.quantity) AS sum_of_purchases,SUM(s2.revenue) AS total_revenue,p.department FROM sales_table2 s2,product_table p WHERE s2.PRODUCT_SKU=p.PRODUCT_SKU GROUP BY p.PRODUCT_SKU,p.department")
myresult = mycursor.fetchall()


print(tabulate(myresult,headers=['PRODUCT_SKU','sum_of_purchases', 'total_revenue','department'], tablefmt='psql'))

+-----------------------+--------------------+-----------------+-----------------+
| PRODUCT_SKU           |   sum_of_purchases |   total_revenue | department      |
|-----------------------+--------------------+-----------------+-----------------|
| OEX-6908TS.WTA-PUM-PG |                  1 |          1204.5 | Furniture       |
| HD-LD53-TJ            |                  2 |          1399   | Outdoor         |
| 4H-IPQS-032           |                  2 |          1593.9 | Mirrors and Art |
| 4H-VATJ-769           |                  1 |          2010   | Furniture       |
+-----------------------+--------------------+-----------------+-----------------+

In [113]:
mycursor=connection.cursor()
mycursor.execute("SELECT visit_id,date FROM event_table")
myresult = mycursor.fetchall()


print(tabulate(myresult, headers=['visitID','date'], tablefmt='psql'))

+-----------+------------+
|   visitID | date       |
|-----------+------------|
|  15692456 | 2022-02-01 |
|  13650284 | 2022-10-11 |
|  14590274 | 2022-05-15 |
|  13892640 | 2022-06-03 |
|  15692456 | 2022-06-05 |
|  14590274 | 2022-05-16 |
|  14590274 | 2022-02-01 |
+-----------+------------+

In [139]:
mycursor=connection.cursor()
mycursor.execute("SELECT hits FROM event_table")
myresult = mycursor.fetchall()


print(tabulate(myresult, headers=['hits'], tablefmt='psql'))

+----------------------------------------------------------------------------------------------------------------------------------------------------------+
| hits                                                                                                                                                     |
|----------------------------------------------------------------------------------------------------------------------------------------------------------|
| “eventInfo”: {“eventCategory”: “GNAV-Furniture-Living_Room”,“eventAction”: “click”, “eventLabel” : ”GNAV : Sofas & Sectionals”}                          |
| “eventInfo”: {“eventCategory”: “GNAV-Furniture-Bedroom”,                                                                                                 |
| “eventAction”: “click”, “eventLabel” : ”GNAV : Beds”}                                                                                                    |
| “eventInfo”: {“eventCategory”: “Customer Type”, “eventAction”: “Logged In”, “eventLabel” : ”Trade”}                                                      |
| “eventInfo”: {“eventCategory”: “KKH_HP-Hero_Slider”, “eventAction”: “click”, “eventLabel” : ”HP Slider : SHOP DINING -01/31/23”}                         |
| “eventInfo”: {“eventCategory”: “ Vedran-Partnership-LP”, “eventAction”: “click”, “eventLabel” : ”Olivia Rinks Bedroom Makeover : Connect with Designer”} |
| “eventInfo”: {“eventCategory”: “GNAV-Lighting”, “eventAction”: “click”, “eventLabel” : ”GNAV : Table Lamps”}                                             |
| “eventInfo”: {“eventCategory”: “Carousel Clicks”, “eventAction”: “Best Sellers”, “eventLabel” : ”/Product/Detail/41703”}                                 |
+----------------------------------------------------------------------------------------------------------------------------------------------------------+

In [162]:
mycursor=connection.cursor()
mycursor.execute("SELECT COUNT(hits) AS number_events_occurred,hits AS event_labels, date FROM event_table WHERE hits LIKE'%GNAV%' GROUP BY hits,date")
myresult = mycursor.fetchall()


print(tabulate(myresult, headers=['event labels','number events occurred','date'], tablefmt='psql'))

+----------------+---------------------------------------------------------------------------------------------------------------------------------+------------+
|   event labels | number events occurred                                                                                                          | date       |
|----------------+---------------------------------------------------------------------------------------------------------------------------------+------------|
|              1 | “eventInfo”: {“eventCategory”: “GNAV-Furniture-Living_Room”,“eventAction”: “click”, “eventLabel” : ”GNAV : Sofas & Sectionals”} | 2022-02-01 |
|              1 | “eventInfo”: {“eventCategory”: “GNAV-Furniture-Bedroom”,                                                                        | 2022-10-11 |
|                | “eventAction”: “click”, “eventLabel” : ”GNAV : Beds”}                                                                           |            |
|              1 | “eventInfo”: {“eventCategory”: “GNAV-Lighting”, “eventAction”: “click”, “eventLabel” : ”GNAV : Table Lamps”}                    | 2022-05-16 |
+----------------+---------------------------------------------------------------------------------------------------------------------------------+------------+